*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.main{
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    perspective: 20px;
}
.parent{
    position: relative;
    height:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transform-style: preserve-3d;
    z-index: -1;
}
.background, .foreground{
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: -1;
}
.background{
    transform: translateZ(-40px) scale(5);
}
.foreground{
    transform: translateZ(-30px) scale(3);
}
h1{
    position:relative;
    font-size: 5rem;
    top: 3rem;
    left:50%;
    right: 50%;
    transform: translateX(-85%);
    font-size: 7rem;
    letter-spacing: 2px;
    color:whitesmoke;
    text-shadow: 0,0,10px rgba(0, 0, 0, 0.3);
}
section{
    background-color:rgb(90,120,220);
    color: azure;
    padding: 5rem 0;;
}
.ac{
    background-image: url(sport-1.jpg);
}
.ac1{
    background-image: url(sport-2.jpg);
}
.ac2{
    background-image: url(sport-3.jpg);
}
.ac3{
    background-image: url(image6.jpg);
}
.ac4{
    background-image: url(image7.jpg);
}
.ac5{
    background-image: url(image9.jpg);
}
.ac6{
    background-image: url(image12.jpg);
}
#pp{
    font-size: 5rem;
    padding: 0 10rem;
    font-family:cursive;
    color:rgb(226, 46, 143);
    background-color: skyblue;
}
.text{
    font-size: 2.0rem;
    padding: 0 10rem;
    margin:5rem 0;
    font-family: cursive;
}
.ab{
    position: relative;
    width: 100%;
    height: 600px;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}
.bik{
    position: absolute;
    background-color: aliceblue;
    padding: 0.5rem 2.5rem;
    top:50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    color: brown;
    font-size: 3.5rem;
    font-weight: 600;
}